<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi natus id nobis aspernatur facilis! Similique et
    exercitationem placeat, dolorum delectus molestias distinctio optio nisi, quibusdam est sint odio soluta inventore?
</p>


{{#each data}}
{{NOME}} - {{SALARIO}} -

{{#if STATUS}}
ativo
{{else}}
inativo
{{/if}}
<br>
{{/each}}