<section class="background-cover bg-dark pb-5 position-relative pt-5 text-white">
    <div class="bg-dark container pb-5 pt-5">
        <div class="col pb-5 pt-5 row">
            <div class="col-lg-7 pb-5 pt-5">
                <h1 class="display-3 fw-bold mb-3">Sustentabilidade e inovação</h1>
                <p class="lead mb-4">Sua atitude sustentável começa na hora de descartar seu lixo eletrônico. Descubra
                    como contribuir para um mundo mais limpo</p>
                <a href="#" class="btn btn-light pb-2 ps-4 pe-4 pt-2">Saiba mais</a>
            </div>
            <div class="background-right-center col-lg-5 fs-2 ms-0 pb-5 pe-4 pt-5"
                style="background-image:url('/imagens/techrecycle-removebg-preview.png');">
            </div>
        </div>
    </div>
</section>
<main class="pb-5 pt-5">
    <div class="container pb-4 pt-4">
        <div class="align-items-center row">
            <div class="col">
                <hr class="mb-0 mt-0" />
            </div>
            <div class="col-auto">
                <h2 class="fw-normal lead mb-0 text-dark">Conheça a plataforma</h2>
            </div>
            <div class="col">
                <hr class="mb-0 mt-0" />
            </div>
        </div>
    </div>
    <section class="pb-4 pt-4">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-md-6 py-3">
                    <div class="position-relative text-dark">
                        <img src="/imagens/Design%20sem%20nome%20(22).png" class="img-fluid w-100" alt="Product image"
                            width="450" height="300">
                        <div class="bottom-0 end-0  pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h4 mb-3">Quero negociar</h2><a href="http://localhost:8080/usuario/login"
                                class="link-dark stretched-link text-decoration-none">Cadastro</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="position-relative text-dark">
                        <img src="/imagens/Design%20sem%20nome%20(21).png" class="img-fluid w-100" alt="Product image"
                            width="450" height="300">
                        <div class="bottom-0 end-0  pb-5 pe-4 position-absolute ps-4 start-0">
                            <h2 class="h4 mb-3">Sou um entregador</h2><a href="http://localhost:8080/usuario/login"
                                class="link-dark stretched-link text-decoration-none">Quero me inscrever</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="align-items-center row">
        <div class="col">
            <hr class="mb-0 mt-0" />
        </div>
        <div class="col-auto">
            <h2 class="fw-normal lead mb-0 text-dark">Nosso time</h2>
        </div>
        <div class="col">
            <hr class="mb-0 mt-0" />
        </div>
    </div>
    <section class="bg-light mb-4 mt-4 pb-5 pt-5 text-center">
        <div class="container pb-3 position-relative pt-3">
            <div class="row">
                <div class="col-lg-8 ms-auto me-auto">
                    <div id="carousel5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/imagens/eduardo" class="img-fluid mb-3 rounded-circle testimonial_img"
                                    width="120" height="120" alt="User image">
                                <h2 class="fw-bold h5 mb-0 text-dark">Eduardo Paggi&nbsp;</h2>
                                <p class="small">Desenvolvedor back-end e apresentação</p>
                            </div>
                            <div class="carousel-item">
                                <img src="/imagens/pedro" class="img-fluid mb-3 rounded-circle testimonial_img"
                                    width="120" height="120" alt="User image">
                                <h2 class="fw-bold h5 mb-0 text-dark">Pedro Siviero</h2>
                                <p class="small">Marketing, finanças e gerenciamento</p>
                            </div>
                            <div class="carousel-item">
                                <img src="/imagens/stefany" class="img-fluid mb-3 rounded-circle testimonial_img"
                                    width="120" height="120" alt="User image">
                                <h2 class="fw-bold h5 mb-0 text-dark">Stefany Alexandra</h2>
                                <p class="small">Desenvolvedora front-end e marketing</p>
                            </div>
                        </div>
                        <ol class="carousel-indicators position-relative">
                            <li data-bs-target="#carousel5" data-bs-slide-to="0" class="active bg-dark"></li>
                            <li data-bs-target="#carousel5" data-bs-slide-to="1" class="bg-dark"></li>
                            <li data-bs-target="#carousel5" data-bs-slide-to="2" class="bg-dark"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="justify-content-center row">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
</main>
<div class="container-fluid p-0">
</div>