 <section class="bg-light pb-5 pt-5 text-muted"> 
            <div class="container pb-4 pt-4"> 
                <div class="align-items-end gy-4 row">
                    <div class="col-lg-8 col-xl-9"> 
                        <h2 class="display-5 fw-bold text-dark">Caixas de&nbsp;<span class="text-primary">papelão</span></h2>
                        <p class="fw-light lead mb-4">São caixas de diversos tamanhos, ficavam no depósito.&nbsp;Estou negociando valores, não tem utilidade para mim</p>
                        <p class="fw-light lead mb-4"></p>
                        <div class="gx-3 gy-4 row row-cols-sm-2"> 
                            <div> 
                                <img src="/imagens/ur" class="img-fluid w-100"> 
                            </div>
                            <div> 
                                <img src="/imagens/Design%20sem%20nome%20(23).png" class="img-fluid w-100"> 
                            </div>                             
                        </div>                         
                    </div>                     
                    <div class="col-lg-4 col-xl-3"> 
</div>                     <span class="form-text"></span>
                    <p></p>
                    <dl class="row"> 
                        <dt class="col-sm-3">Telefone</dt> 
                        <dd class="col-sm-9">(99) 99999-9999</dd>                         
                        <dt class="col-sm-3">E-mail</dt> 
                        <dd class="col-sm-9"> 
                            <p>cleber@gmail.com</p> 
                        </dd>                         
                        <dt class="col-sm-3">Endereço&nbsp;</dt> 
                        <dd class="col-sm-9">Boqueirão, 2117 - Curitiba, PR</dd>                         
                        <dt class="col-sm-3 text-truncate">Observações</dt> 
                        <dd class="col-sm-5">Reciclando esse produto, você&nbsp;<b>contribui diretamente para a preservação dos recursos naturais, redução da poluição e da geração de resíduos urbanos sólidos</b>.
                        </dd>                         <span class="badge rounded-pill bg-success">Produto reciclável</span>
                        <dd class="col-sm-3 "> 
                            <dl class="row"> 
</dl>                             
                            <button class="w-100 btn btn-lg btn-primary col" type="submit">Tenho interesse</button>
                        </dd>                         
                    </dl>
                </div>                 
            </div>             
            <dd class="col-sm-6"> 
                <dl class="row"> 
</dl>                 
        </section>